/* HOME */
.container {
  padding-left: 30px;
  padding-right: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 98px;
  height: auto;
}

header div {
  display: flex;
  gap: 30px;
  align-items: flex-end;
}
header div :not(img) {
  margin-bottom: 8px;
}
.section-black {
  background-color: #191919;
  color: white;
}

.section-orange {
  background-color: #ff5f00;
  color: #191919;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choice-navigation {
  display: flex;
  gap: 30px;
}

.filters {
  display: flex;
  gap: calc(100% / 3);
}

.search {
  width: 485px;
}

input {
  border: none;
  height: 40px;

  border-bottom: 2px rgb(255, 255, 255) solid;
  background-color: #191919;
  color: white;
  margin-bottom: 30px;
  margin-right: 100px;
}

.slider {
  display: flex;

  overflow-x: scroll;
}

.slider img {
  width: 100vw;
  flex-shrink: 0;
}
.downlaod-app {
  display: flex;
}

footer {
  height: 150px;
  background: #191919;
  color: white;
  display: flex;
  align-items: flex-end;
  gap: 30px;
  padding-bottom: 30px;
}
